<div id="footer">					

	<!-- Icons -->
		<ul class="icons">
			<li><a href="" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/profile.php?id=100005300055884&fref=ts" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>	
			<li><a href="#" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
		</ul>

	<!-- Copyright -->
		<div class="copyright">
			<ul class="menu">
				<li>&copy; 2015. Todos los derechos reservados</li><li>Creado por: <a>Valdivieso Consultores</a></li>
				<br>
				<a href="#openAbout">Acerca de</a>
			</ul>
		</div>

</div>
<div id="openAbout" class="aboutDialog">
	<div>
		<a href="#close" title="Cerrar" class="close">X</a>
		 <div class="modalbox movedown">              
              <h2>ACERCA DE</h2>
              <p class="modaltitle">DESARROLLADORES</p>
              <center>
	              <p>José Antonio Serrano Ventura | Licenciatura en Informática<br>Universidad del Mar Campus Puerto Escondido	              
	              <br>E-mail: <a href="mailto:">antoniosv17@gmail.com</a>	              
	              <br>Telefono: 9541368107</a>
	              </p>
	              <!--<p>Daniel Guzmán Robles | Licenciatura en Informática<br>Universidad del Mar Campus Puerto Escondido
	              <br>
	              E-mail: <a href="mailto:">guzmanroblesdaniel@gmail.com</a>				              
	              <br>
	              Telefono: 9541192407</a>	              
	              </p>-->
	          </center>              
              <p class="modaltitle">DISEÑADOR</p>				              																
              <center>
	              <p>Damaris Ramirez Reyes. | Ingenieria en Diseño<br>Universidad del Papaloapan Campus Loma Bonita
	              <br>E-mail: <a href="mailto:">dam_reyes@hotmail.com</a>
	              <br>Telefono: 2811004152</a>				              
	              </p>
	           </center>
          </div>
	</div>
</div>
