<div class="4u 12u(narrower)">
	<div id="sidebar">
		<!-- Sidebar -->										
			<section>
				<h3>Empresas</h3>
				<ul class="links">
					<li class="first">
						<p><a href="http://www.gevarsaconstrucciones.esy.es" target="_blank"><img src="images/afiliados/logo.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="http://www.valdiviesoconsultores.com/" target="_blank"><img src="images/afiliados/consultoria-vaaldivieso.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="http://www.reconstruyendooaxaca.esy.es" target="_blank"><img src="images/afiliados/reconstruyendo-oaxaca.png" alt=""><br><br><br><br></a></p>
					</li>					
					<li>
						<p><a href="http://www.padep.esy.es" target="_blank"><img src="images/afiliados/padep.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="http://www.joveneshuatulco.esy.es" target="_blank"><img src="images/afiliados/jovenes-por-huatulco.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="http://www.oaxacamemorable.esy.es/" target="_blank"><img src="images/afiliados/oaxaca-memorable.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="http://www.mlobraciviles.esy.es" target="_blank"><img src="images/afiliados/obracivil.png" alt=""><br><br><br><br></a></p>
						<!--acproambiente
						jamayuj.esy.es
						-->
					</li>
					<li>
						<p><a href="http://www.donaji.esy.es/" target="_blank"><img src="images/afiliados/donaji.png" alt=""><br><br><br><br></a></p>
					</li>
					<li>
						<p><a href="" target="_blank"><img src="images/afiliados/jamayuj.png" alt=""><br><br><br><br></a></p>
					</li>
				</ul>				
			</section>

	</div>
</div>